/**
 * index.scss
 * - Add any styles you want here!
 */

 @keyframes onAutoFillStart {  from {/**/}  to {/**/}}
 @keyframes onAutoFillCancel {  from {/**/}  to {/**/}}


html{
  overflow-y: scroll;
}
body {
  background: #f5f5f5;
  overflow-y: scroll;
}

.center {
  text-align: center;
  color: red
}

.buttons {

}
.num {

}
.operators {

}

.testing {

}
.tier1 {

}
#sum {

}
#login {


}
#text-to-input {


}

#password-input {


}

.username {

}
#search-term {

}

input:-webkit-autofill {
    // Expose a hook for JavaScript when autofill is shown
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillStart;

    // Make the background color become yellow really slowly
    transition: background-color 50000s ease-in-out 0s;
}
input:not(:-webkit-autofill) {
    // Expose a hook for JS onAutoFillCancel
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillCancel;
}


input:autofill {
    // Expose a hook for JavaScript when autofill is shown
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillStart;

    // Make the background color become yellow really slowly
    transition: background-color 50000s ease-in-out 0s;
}
input:not(:autofill) {
    // Expose a hook for JS onAutoFillCancel
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillCancel;
}
